@model List<Prayer>
@{
    ViewData["Title"] = "Prayers";
    Layout = "~/Views/GroupView/_GroupViewLayout.cshtml";
}

<h2>Prayers</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr class="row">
                    <td class="col-md-3">
                        Title
                    </td>
                    <td class="col-md-6">
                        Short Description
                    </td>
                    <td class="col-md-3">
                        Action
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model)
                {
                    <tr class="row">
                        <td class="col-md-3">@element.Title</td>
                        <td class="col-md-6">@element.ShortDescription</td>
                        <td class="col-md-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <form method="post" asp-action="SubscribeToRequest" asp-controller="Prayers">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@element.ID" />
                                        <button class="btn btn-info btn-sm btn-block mb-1" type="submit">Subscribe</button>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form method="post" asp-action="ViewRequest" asp-controller="Prayers">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@element.ID" />
                                        <button class="btn btn-info btn-sm btn-block mb-1" type="submit">View</button>
                                    </form>
                                </div>
                            </div>

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>


</div>